@import '../bootstrap/customizations.scss';
@import './slick/slick.scss';
@import './slick/slick-theme.scss';

html,body{
  overflow-x: hidden;
}

#welcome-bg{
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  height:100vh;
  width:100vw;
  top:0;
  position:absolute;

  #welcome{

    font-size:8vw;
    color:black;
    top:9vw;
    padding:0;
    position:absolute;

    @media (max-width: 1100px) {
      top:28vw;
    }

  }

  #scroll-btn{
    font-size:1.75em;
    color:white;
    padding:0;
    position:absolute;
    bottom:1.3em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }

}



.center-text{
  text-align: center;
}


.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    background-color:#1E1E1E;
    overflow:hidden;
    &:hover{
      cursor:pointer;

    }
}

.center-vertically{
  display: flex;  /* make the row a flex container */
  align-items: center; /* vertically center each flex item in the container */
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    font-size: 26px;
    font-weight: 400;
}

.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}

/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.tag{
  padding: 2px 4px 2px 4px;
  border-radius:8px;
  margin: 2px 2px 2px 2px;
  display:inline-block;
  font-size:1.2em;
}

.tech{
  background-color:#eee;
}
.role{
  background-color:#eee;
}

#twitch{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/twitch3.jpg');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/twitch3.jpg');
    }
}

#bedroom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/bedroom-jammer1.gif');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/bedroom-jammer1.gif');
    }
}

#glitch{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/glitch-the-world1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/glitch-the-world1.png');
    }
}


#svrround{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/svrround1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/svrround1.png');
    }
}

#canale{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/canale-quattro1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/canale-quattro1.png');
    }
}

#magic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/magic-is-real1.gif');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/magic-is-real1.gif');
    }
}

#haptec{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/haptec1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/haptec1.png');
    }
}

#passtime{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/passtime1.gif');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/passtime1.gif');
    }
}

#immigrater{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/immigrater1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/immigrater1.png');
    }
}

#glove{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/glove-phone1.gif');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/glove-phone1.gif');
    }
}

#dimensions{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/dimensions1.jpg');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/dimensions1.jpg');
    }
}

#emoji{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/emoji1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/emoji1.png');
    }
}

#space{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/../images/space-girl1.png');
    &:hover{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/../images/space-girl1.png');
    }
}


.fadeIn {
  animation: fadeIn 200ms linear normal forwards;
}

.carousel-left-enter{
  opacity: 0.01;
  transform: translateX(100%);
}
.carousel-left-enter.carousel-left-enter-active{
  opacity: 1;
  transition: 500ms ease-out;
  transform: translateX(0%);
}

.carousel-left-leave{
  transform: translateX(-100%);
  position:absolute;
}
.carousel-left-leave.carousel-left-leave-active{
  transition: 500ms ease-out;
  transform: translateX(-200%);
  position:absolute;
}

.carousel-right-enter{
  opacity: 0.01;
  transform: translateX(-100%);
}
.carousel-right-enter.carousel-right-enter-active{
  opacity: 1;
  transition: 500ms ease-out;
  transform: translateX(0%);
}

.carousel-right-leave{
  opacity: 1;
  transform: translateX(-100%);
  position:absolute;
}
.carousel-right-leave.carousel-right-leave-active{
  opacity: 0.01;
  transition: 500ms ease-out;
  transform: translateX(0%);
  position:absolute;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.project-content{

  .details-col{
     padding:2em;

     @media (min-width: 60em) {
       margin:30px 0px 0px 0px;
     }
     

     h2{
       margin-top:0;
     }

     p{
       font-size:1.5em;
     }
  }

  .media-col{
    height: auto;
    min-height:400px;
    padding: 2em;

    @media (min-width: 60em) {
      margin:55px 0px 35px 0px;
    }

  }
}

.carousel{
  max-width:800px;
  max-height:400px;

}


.project-img{
  width:100%;
  height:100%;
}

.project-yt{
  width:100%;
  min-height:400px;
}
// Modal
.modal-overlay{
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  //opacity:0;
  //pointer-events:none;
  position: fixed;
  right: 0;
  top: 0;

  // -webkit-transition: opacity 400ms ease-in;
  // -moz-transition: opacity 400ms ease-in;
  // transition: opacity 400ms ease-in;
  // display: none;
  &:target{
    display: block;
    opacity: 1;
    pointer-events:auto;
    z-index: 99999;
  }
  .modal{
    background-color: white;
    height: 100%;
    position: relative;
    margin:0 auto;
    padding: 3em;
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media (min-width: 60em) {
      height: 85%;
  	  margin: 5% auto;
  	  max-height: 100em;
      max-width: 95%;
      width: 95%;
  	}

  	> iframe, > div {
  		border: none;
  		width: 100%;
  		height: 100%;
    }
  }

  .close-modal{
    background-color: #ccc;
    &:hover{
      background-color: darken(#ccc,10%);
    }
    color: white;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    z-index: 1;
  }
}
