
.project-content{

  .project-title{
    margin-top:0;
    color:#673ab7;
    text-align: center;
    color:rgba(255,255,255,1);
    text-transform: uppercase;
    padding:2px 4px 2px 4px;
  }

  .details-col{
     padding:2em;

     @media (min-width: 60em) {
       margin:30px 0px 0px 0px;
     }

     h3{
       text-transform: uppercase;
       background: rgba(255,255,255,.5);
       display:inline-block;
       padding:2px 4px 2px 4px;
       color:#673ab7;
     }

     p{
       font-size:1.5em;
       background-color:rgba(50,0,100,.2);
     }

     .link{
       font-size:1.2em;
     }

     .dead-link{
       text-decoration: line-through;
     }


     .tag{
       padding: 2px 4px 2px 4px;
       margin: 2px 2px 2px 2px;
       display:inline-block;
       background-color:rgba(50,0,100,.2);
       font-size:1.2em;
     }



  }

  .media-col{
    min-height:400px;
    max-height:400px;
    padding: 2em;

    @media (min-width: 60em) {
      margin:55px 0px 55px 0px;
    }

  }

  // .carousel{
  //   max-width:800px;
  //   max-height:400px;
  // }

  .project-img{
    width:auto;
    margin: auto;
    height:100%;
    max-height:400px;
  }

  .project-yt{
    width:100%;
    min-height:400px;
  }

}

// Modal
.modal-overlay{
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  //opacity:0;
  //pointer-events:none;
  position: fixed;
  right: 0;
  top: 0;
  z-index:15;

  // -webkit-transition: opacity 400ms ease-in;
  // -moz-transition: opacity 400ms ease-in;
  // transition: opacity 400ms ease-in;
  // display: none;
  &:target{
    display: block;
    opacity: 1;
    pointer-events:auto;
    z-index: 99999;
  }

  .modal{
    background-color: #673ab7;
    color:white;
    position: relative;
    margin:0 auto;
    padding: 3em;
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media (min-width: 60em) {
      height: auto;
  	  margin: 7% auto;
  	  max-height: 55em;
      max-width: 95%;
      width: 95%;
  	}

  	> iframe, > div {
  		border: none;
  		width: 100%;
  		height: 100%;
    }

    // &::before {
    //     content: "";
    //
    //     z-index: 100;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height:100%;
    //     background: url('https://anatacreative.com/codepen/noise.png');
    //     animation: 1s infinite noise;
    //     pointer-events: none;
    // }

  }

  .close-modal{
    background-color: rgba(255,255,255,.5);
    &:hover{
      background-color: lighten(rgba(255,255,255,.7),20%);
    }
    color:  #673ab7;
    font-size: 2.4em;
    padding: 20px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    z-index: 1;
  }
}


@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}
