.contact{
  position: absolute;
  z-index:2;
  display:inline;
  font-size:16px;

  a{
    color:#fff;
  }

}

#welcome-bg{
  display:none;
  flex-direction: column;
  align-items: center;
  height:100vh;
  width:100vw;
  top:0;
  position:absolute;

  #welcome{

    font-size:8vw;
    color:rgba(100,100,100,.4);
    top:-1.2vw;
    left:2vw;
    padding:0;
    margin:0;
    position:absolute;
    align-self: flex-start;

    span{
      padding:0;
      margin:-5px;
    }


    @media (max-width: 1100px) {
      top:28vw;
    }

  }

  #scroll-btn{
    font-size:2.75em;
    color:white;
    padding:0;
    position:absolute;
    bottom:1.3em;
    div{
      padding:0;
      margin:0;
      height:auto;
      width:auto;
    }
  }


}

.pulse1 {
  animation: pulse1 1000ms linear normal infinite;
}


@keyframes pulse1 {
  from {
     opacity: 0;
  }

  50%{
     opacity: 1;
  }

  100% {
     opacity: 0;
  }
}

.pulse2 {
  animation: pulse2 1000ms linear normal infinite;
}


@keyframes pulse2 {
  from {
     opacity: .5;
  }

  25%{
     opacity: 1;
  }

  50%{
     opacity: .5;
  }

  50%{
     opacity: .25;
  }

  100% {
     opacity: 0;
  }
}

.pulse3 {
  animation: pulse3 1000ms linear normal infinite;
}


@keyframes pulse3 {
  from {
     opacity: 1;
  }

  50%{
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

#clouds{
  padding: 0 0;
  z-index: 1;
  width:100%;
  position:absolute;
  pointer-events:none;
  overflow-x: hidden;
}

.marc-cloud {

  img{
    width:auto; max-height:250px;
    position: relative;
  }

  background: none;
  position: relative;
  z-index:-100;
  transform:translateZ(12514);
}

.cloud {
  z-index: 500;
  width: 200px; height: 60px;
  background: #fff;
  border-radius: 200px;
  position: relative;
  transform:translateZ(12515);
      box-shadow: 15px 15px 15px 6px rgba(0, 0, 0, 0.18);
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;

}


.x0 {
  left: 200px;  top: 150px;
  animation: moveclouds 40s linear infinite;
}

.x1 {

  left: 200px;  top: 50px;
  transform: scale(0.4);
  animation: moveclouds 15s linear infinite;
}

.x2 {
  left: 200px;  top: 100px;
  transform: scale(0.6);
  animation: moveclouds 29s linear infinite;
}

.x3 {
  left: -250px; top: -50px;
  transform: scale(0.5);
  animation: moveclouds 25s linear infinite;
}

.x4 {
  left: 470px; top: -250px;
  transform: scale(0.65);
  animation: moveclouds 73s linear infinite;
}

.x5 {
  left: -150px; top: -400px;
  transform: scale(0.8);
  animation: moveclouds 20s linear infinite;
}

@keyframes moveclouds {
  0% {left: 110vw;}
  100% {left: -40vw;}
}

.shadow {
  position: absolute;
  z-index: -1;
}









//* ================
// Shocks
// ============= */

.shocks {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  padding: 0 0;
  z-index: 1;
  position:absolute;
  pointer-events:none;
  overflow: hidden;
}

  .shock {

    position: absolute;
    top: 10%;
    left: 10%;
    clip-path: polygon(
      0 100%,
      100% 0,
      300% 0,
      300% 200%,
      300% 300%,
      0 300%
    );
    opacity: 0;

    &:before,
    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      background: inherit;
      content: "";
    }

    &:before {
      top: 25%;
      left: 100%;
      border-radius: 0 .25em 0 .25em;
    }

    &:after {
      top: 50%;
      left: 200%;
      clip-path: polygon(
        0 0,
        100% 0,
        0 100%
      );
    }

    @for $i from 1 through 10 {

      &:nth-child(#{$i}) {
        $size: random(550) + 100;
        top: random(100) * 1%;
        left: random(100) * 1%;
        height: $size * .035vmin + 4vmin;
        width: ($size * .035vmin + 4vmin) / 10;
        background:
          linear-gradient(
            45deg,
              hsl(random(255), 90, 60),
              hsl(random(255), 90, 60)
          );

        $time: $size * .002s + .5s;
        $delay: .05s * $i - .05s;

        @if(random(2) == 1) {
          animation:
            flash $time $delay infinite ease-in,
            strike-left $time $delay infinite ease-in;
          transform:
            translate(-50%, -50%)
            translate(1000%, -300%)
            skew(-25deg);
        } @else {
            animation:
              flash $time $delay infinite ease-in,
              strike-right $time $delay infinite ease-in;
            transform:
              translate(-50%, -50%)
              translate(-1000%, -300%)
              skew(25deg);
        }

        &:before {
          animation: strike-down $time $delay infinite ease-in;
        }

        &:after {
          animation: final-blow $time $delay infinite ease-in;
        }
      }
    }
  }

  @keyframes flash {

    @for $i from 2 through 4 {
      #{$i * 20%} {
        @if($i % 2 == 0) {
          opacity: 0;
        } @else {
          opacity: 1;
        }
      }
    }
  }

  @keyframes strike-right {

    100% {
      transform:
        translate(-50%, -50%)
        translate(0, 0)
        skew(25deg);
    }
  }

  @keyframes strike-left {

    100% {
      transform:
        translate(-50%, -50%)
        translate(0, 0)
        skew(-25deg);
    }
  }

  @keyframes strike-down {

    100% {
      top: 125%;
    }
  }

  @keyframes final-blow {

    100% {
      top: 225%;
    }
  }
